.container {
 width: 1000px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: space-between;
}

.text-center {
  text-align: center;
 }

.input-style {
  width: 400px;
  height: 50vh;
}

.text-style {
  word-wrap: inherit;
  width: 400px;
}

.output-style {
  width: 400px;
  height: 50vh;
  background-color: #DCDCDC;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
};